
body {
    /* background-blend-mode: soft-light; */
    background-color:#b3e6ff;
    text-align: auto;
    background-color: darkslategray;
    background-color: #0f1313cf;
}

.container h1 {
    color: aliceblue;
}

